<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detail</title>
</head>
<body>
    <main>
        <div>
            <h1>{{todo_list.name}}</h1>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    <div>
                        {% for todoitem in todo_list.items.all %}
                        <tr>
                            <td>{{todoitem.task}}</td>
                            <td>{{todoitem.due_date|date:"M j o"}}</td>
                        </tr>
                        {% endfor %}
                    </div>
                </tbody>
            </table>
        </div>
    </main>
</body>
<footer>

</footer>
</html>
