<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list</title>
</head>
<body>
    <main>
        <div>
            <h1>My List</h1>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of Items</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div>
                            {% for todolist in todo_lists %}
                            <tr>
                                <td><a href="{% url 'todo_list_detail' todolist.id %}">{{ todolist.name }}</a></td>
                                <td>{{todolist.items.count}}</td>
                            </tr>
                            {% endfor %}
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</body>
<footer>

</footer>
</html>
